/* Centering the App container */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6; /* Light gray background */
  }
  
  /* Centering the form section */
  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 800px; /* Optional, set a max-width for better form appearance */
    width: 100%;
    background-color: bisque;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Center form fields */
  .form-generator form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  